<h2>Hello {{name}}</h2>
<form action="" method="post">
    <input type="text" name="inputData">
    <input type="submit" value="Submit">
</form>
<p>
    Washing machine 3 (the one on the far right) is currently
    <span id=washer3Status>{{washer3Status}}</span>.
    <span id=timeMessage>{{washer3TimeMessage}}</span>
</p>
<a href='commonsense/data'>View raw data</a>
